
/*  A11.2017.10172
	Muhamad Nur Adi Nugroho
	Pemrograman Web
*/

/*  header */

.header {
    background-color: 4CAF50;
    padding: 20px;
    text-align: left;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.row {
    display: -webkit-flex;
    display: flex;
}

.column {
	background-color: white;
	color: rgb(0, 119, 255);
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    height: 200px; 
}

.footer {
	background-color: rgb(90, 87, 87);
	color: white;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}


html, body{
	height:500px;
	background-image: grey;
	padding: 5px;

}
.fa-bars:before{content:"\f0c9";
background-color: black;}

.fa-caret-down:before{content:"\f0d7";
	}

.topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .active {
	background-color: grey;
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }
  
  .dropdown {
	  float: left;
	  overflow: hidden;
  }
  
  .dropdown .dropbtn {
	  font-size: 17px;    
	  border: none;
	  outline: none;
	  color: white;
	  padding: 14px 16px;
	  background-color: inherit;
	  font-family: inherit;
	  margin: 0;
  }
  
  .dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
  }
  
  .dropdown-content a {
	  float: none;
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #4CAF50;
	color: white;
  }
  
  .dropdown-content a:hover {
	  background-color: #ddd;
	  color: black;
  }
  
  .dropdown:hover .dropdown-content {
	  display: block;
  }
  
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child), .dropdown .dropbtn {
	  display: none;
	}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
	  display: block;
	  width: 100%;
	  text-align: left;
	}
  }

  .mySlides {display:none;}

  div.gallery {
	    margin: 5px;
	    border: 1px solid #ccc;
	    float:left;
	    width: 150px;
	}
	
	div.gallery:hover {
	    border: 1px solid #777;
	}
	
	div.gallery img {
	    width: 100%;
	    height: auto;
	}
	
	div.desc {
	    padding: 15px;
	    text-align: center;
	}
	.left{
		width: 250px;
		border: 2px solid grey;
		background: rgb(184, 181, 181);
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.middle{
		width: 500px;
		border: 2px solid grey;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}

		.middle a{
			color: rgb(0, 102, 255);
		}

	.right{
		width: 250px;
		border: 2px solid grey;
		padding: 10px;
		margin: 10px;
		float: left;
	}


	.right ul{
		list-style-type: none;
	}
	.right ul li{
		display: block;
	}
	.right ul li a{
		display: block;
		border-bottom: 1px solid #dedede;
		margin-bottom: 10px;
		padding: 10px 5px;
	}
	.right ul li a:hover{
		color: rgb(207, 203, 194);
	}
	@media screen and (max-width: 1080px) {
	
		.container {
			width: 100%;
		}
		.left {
			width: 25%;
			background: white;
		}
		.middle {
			width: 68%;
			float: right;
		}
		
		.right {
			clear: both;
			padding: 1% 1%;
			width: auto;
			float: none;
		}
	}
	
	
	/* untuk ukuran layar 700px kebawah */
	@media screen and (max-width: 780px) {
		
		.header, 
		.footer{
			text-align: center;
		}
		.left {
			width: auto;
			float: none;
		}
		
		.middle {
			width: auto;
			float: none;
		}
		
		.right {
			width: auto;
			float: none;
		}
	
	}
	.body {margin: 0;}
	